table{
border: rgb(19, 18, 18);
margin: 10px;
padding: 10px;
background: #6ce9ae;
}
title
{
    background-color: aliceblue;
}

body
{
    background-color: rgb(230, 172, 96);
}

img{
    border: rgb(17, 17, 16) 4px solid;
    }

ol
{
    font-style:initial;
}